@media only screen and (max-width: 715px) {
  #contact-input-container-1 {
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 715px) {
  #contact-input-container-1 {
    justify-content: space-between;
    align-items: flex-end;
  }
}

#contact-header-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px 0 20px;
}

#contact-header-intro-text {
  margin: 0;
}

#contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

#contact-container-heading {
  margin-top: 40px;
  text-align: center;
}

#contact-form {
  width: 80%;
}

#contact-input-container-1 {
  display: flex;
}

#contact-input-name,
#contact-input-email {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
}

#contact-input-subject {
  height: 70px;
}

#contact-input-name,
#contact-input-email,
#contact-input-subject,
#contact-input-message {
  margin: 10px;
}

#contact-input-message {
  margin-bottom: 10px;
}

.contact-error {
  margin: 4px;
  color: red;
}
#contact-input-message .contact-input {
  height: 150px;
}

#contact-form-button {
  border-color: #54b689;
  background-color: #54b689;
  margin: 10px;
  width: 97%;
}

#contact-form-button:hover {
  border-color: #44a076;
  background-color: #44a076;
}
