#layout-container {
  display: flex;
  flex-direction: row;
}

#layout-nav {
  width: 750px;
  height: 100vh;
}

#layout-children-container {
  padding: 50px;
  height: 100vh;
  overflow-y: auto;
  overflow-y: scroll;
}
