@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@1&family=Roboto&display=swap");

@media only screen and (max-width: 1000px) {
  #nav-container {
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }

  #nav-content-container {
    display: none;
  }

  #nav-hireme {
    width: 98%;
    background-color: #347155;
    border-color: #347155;
  }

  #nav-hireme:hover {
    background-color: #214937;
    border-color: #214937;
  }

  #nav-footer {
    color: whitesmoke;
    font-weight: lighter;
    font-size: smaller;
    margin-top: 10px;
    text-align: center;
  }
  #nav-brand {
    margin: 0;
  }

  #nav-link-container {
    width: 100%;
    justify-content: space-around;
    align-items: left;
  }
  .nav-link-container-link {
    padding-left: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  #nav-container {
    padding: 0;
    flex-direction: column;
    align-self: start;
    justify-self: start;
    justify-content: flex-start;
    height: auto;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #347155 #54b689;
  }
  #nav-bar-container {
    display: none;
  }

  #nav-content-container {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #nav-bar-brand {
    display: none;
  }

  #nav-bar-name {
    display: none;
  }

  #nav-toggle {
    display: none;
  }
  #nav-footer {
    color: whitesmoke;
    font-weight: lighter;
    font-size: smaller;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: center;
  }

  #nav-brand {
    margin-top: 0.8rem;
  }

  #nav-link-container {
    width: 160px;
  }
  #nav-hireme {
    width: 150px;
  }
}
#nav-container {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #54b689;
  color: white;
  align-items: center;
}

#nav-toggle {
  color: white;
  margin: 0px 8px;
  padding: 5px 10px;
  background-color: #54b689;
  border-color: white;
}

#nav-toggle svg {
  font-size: large;
}

#nav-brand {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#nav-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  color: white;
}

#nav-portrait {
  padding: 0 10px;
  width: 10rem;
  margin: 10px;
  height: auto;
}

#nav-name {
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 2px;
}

#nav-bar-name {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: smaller;
  padding: 0;
  margin: 2px;
}

#nav-intro-text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 16px;
  font-style: italic;
  margin: 10px;
  font-size: small;
  font-weight: lighter;
}

#nav-intro-subtext {
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 18px;
  letter-spacing: 0.5px;
  font-size: small;
  font-weight: lighter;
  margin: 2px;
}

.nav-text-link {
  color: #214937;
}

.nav-text-link:hover {
  color: white;
  text-decoration: none;
}

.nav-strongtext {
  color: #214937;
  letter-spacing: 1px;
}

.nav-divider {
  border-radius: 0.5px;
  margin: 10px;
  width: 93%;
  background-color: #4da87e;
  height: 2px;
}

#nav-link-container {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-icon {
  position: relative;
  top: 0;
  right: 10px;
}

#laptop {
  right: 13px;
}

#file {
  right: 8px;
}

#plane {
  right: 4px;
}

.nav-link-container-link {
  display: inline-grid;
  grid-template-columns: 17px 1fr;
  align-items: center;
  height: auto;
  font-weight: bold;
  margin: 10px;
  color: white;
}

.nav-link-container-link:hover {
  color: #214937;
  text-decoration: none;
}

.nav-link-nav-link {
  font-weight: bold;
  padding-top: 10px;
  margin: 10px;
  color: white;
}

.nav-link-nav-link:hover {
  color: #214937;
  text-decoration: none;
}

.nav-link-bar-link {
  font-weight: bold;
  margin: 0 10px;
  color: white;
}

.nav-link-bar-link:hover {
  color: #214937;
  text-decoration: none;
}

#nav-hireme {
  margin: 10px;
  padding: 5px 10px;
  background-color: #347155;
  border-color: #347155;
}

#nav-hireme:hover {
  background-color: #214937;
  border-color: #214937;
}

#nav-hireme-link {
  font-family: "Montserrat", sans-serif;
  color: white;
}

#nav-hireme-link:hover {
  color: white;
  text-decoration: none;
}

#nav-footer {
  color: whitesmoke;
  font-weight: lighter;
  font-size: smaller;
  text-align: center;
}
