@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@1&family=Roboto&display=swap");

@media only screen and (max-width: 400px) {
  .pcg-card {
    max-width: 400px;
  }
}

@media only screen and (min-width: 400px) {
  .pcg-card {
    max-width: 200px;
  }
}

@media only screen and (min-width: 750px) {
  .pcg-card {
    max-width: 200px;
  }
}

@media only screen and (min-width: 1048px) {
  .pcg-card {
    max-width: 200px;
  }
}

#pcg-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#RateRepo-img {
  padding: 10px;
  padding-bottom: 30px;
}

#Patientor-img,
#PhoneBook-img {
  padding: 10px;
  padding-bottom: 45px;
  padding-top: 25px;
}

.pcg-card {
  display: flex;
  align-items: center;
  padding: 3px;
  margin: 15px;
  max-width: 300px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pcg-title-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.pcg-button,
.pcg-button-placeholder {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  width: 80px;
  background-color: #54b689;
  border-color: #54b689;
}

.pcg-button:hover {
  background-color: #44a076;
  border-color: #44a076;
}

.pcg-button-placeholder {
  background-color: white;
  border: white;
}

.pcg-title {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 15px;
}

.pcg-img {
  margin: 0;
  margin-top: -10px;
}

.pcg-body {
  padding: 0 10px;
}

.pcg-text {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}
