#carousel-container {
  width: 600px !important;
  height: 540px;
  background-color: gray;
}

.carousel-img {
  width: 600px;
  height: 490px;
  padding: 80px;
  margin: auto;
}

.carousel-caption {
  color: black;
  margin-bottom: -30px;
}

.carousel-indicators li {
  color: black;
  background-color: black;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-details {
  margin-bottom: -30px;
}
