@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@1&family=Roboto&display=swap");

#sg-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  margin: 25px;
  width: 100%;
  height: auto;
}

.sg-title {
  font-family: "Roboto" sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 8px 0px;
}

.sg-card {
  width: 250px;
  height: 190px;
  border: none;
  margin: 20px;
}

.sg-text {
  font-family: "Roboto" sans-serif;
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
  padding: 0;
  width: 100%;
}

.sg-img {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-bottom: 3px;
}
