@media only screen and (max-width: 1000px) {
  .socials-container {
    max-width: 271px;
    width: 271px;
  }
}

@media only screen and (min-width: 1000px) {
  .socials-container {
    max-width: 200px;
    width: 200px;
  }
}

.socials-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 15px 1px;
}

.socials-icon {
  font-size: larger;
  margin: 3px 3px;
}

.socials-border {
  margin: 3px 3px;
}

.socials-icon-dark {
  color: #54b689;
}

.socials-icon-dark:hover {
  color: #44a076;
}

.socials-icon-light {
  color: white;
}

.socials-icon-light:hover {
  color: #44a076;
}

.socials-border-darkBorder {
  background-color: #54b689;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.socials-border-darkBorder:hover {
  color: #44a076;
}

.socials-icon-darkBorder {
  color: #54b689;
}

.socials-icon-darkBorder:hover {
  color: #44a076;
}

.socials-border-lightBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.socials-border-lightBorder:hover {
  background-color: #ddf0e7;
}

.socials-icon-lightBorder {
  color: #54b689;
  font-size: large;
}

.socials-icon-LightBorder:hover {
  color: #44a076;
}
